<!-- INICIO DE FOOTER RESPONSIVO-->
<footer class="bg-primary text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">¿Qué es una API?</h5>

                <p>
                    Es una interfaz que permite que una aplicación se comunique con otra. Las API permiten a las
                    aplicaciones compartir información y funcionalidades entre sí, lo que puede simplificar el
                    desarrollo de nuevas aplicaciones y mejorar la eficiencia de las existentes.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Bootstrap</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="https://getbootstrap.com/" class="text-white" target="_blank">Obtener</a>
                    </li>
                    <li>
                        <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" class="text-white"
                            target="_blank">Docs</a>
                    </li>
                    <li>
                        <a href="https://getbootstrap.com/docs/5.3/components/modal/#how-it-works" class="text-white"
                            target="_blank">Modal</a>
                    </li>
                    <li>
                        <a href="https://icons.getbootstrap.com/" class="text-white" target="_blank">Icons</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://angular.io/quick-start" class="text-white" target="_blank">Try Angular</a>
                    </li>
                    <li>
                        <a href="https://rapidapi.com/hub" class="text-white" target="_blank">RapidApi</a>
                    </li>
                    <li>
                        <a href="https://mongoosejs.com/docs/guide.html" class="text-white" target="_blank">Mongoose</a>
                    </li>
                    <li>
                        <a href="https://expressjs.com/es/" class="text-white" target="_blank">Express</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright
    </div>
    <!-- Copyright -->
</footer>
<!-- FIN DE FOOTER RESPONSIVO-->